
/*---------------------------------*/
.banner{
    width:100%;
    height: 8.55rem;
    background: url("../images/banner.jpg") no-repeat;
}
.banner .font{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
.banner .font h1{
    font-size: 0.6rem;
    font-weight: normal;
}
.banner .font p{
    font-size: 0.18rem;
    margin-top: 0.2rem;
}
.banner .font-img{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes bounce{
    30%{
        transform:translateY(50px)
    }
}
/*---------------------------------*/
.technology{
    overflow: hidden;
    color: #fff;
    height: 8.6rem;
    background: url("../images/jszc.jpg") no-repeat;
    padding-right: 1rem;
}
.technology-box h1{
    font-weight: normal;
    font-size: 0.25rem;
}
.technology-font{
    color: #fff;
    width: 70%;
    line-height: 0.3rem;
    font-size: 0.16rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.technology-font li{
    list-style:decimal !important;
}
.technology-box{
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*------------------------------*/
.server{
    width: 100%;
    height: 9rem;
    background: url("../images/server.jpg") no-repeat;
    background-size: auto 100%;
    position: relative;
}
.serverBox{
    overflow: hidden;
    margin: 0 auto;
}
.serverBox .bottom{
    position: absolute;
    bottom: 0;
    left:50%;
    text-align: center;
    width: 1100px;
    margin-left:-550px;
}
.serverBox .bottom img{
    width: 46%;
    margin-right:4%;
    margin-top: 0.4rem;
}
.serverBox .bottom img:nth-child(2n){
    margin-right:0;
}
/*-----------------------------------*/
.aboutMe{
    width: 100%;
    height: 8.6rem;
    background: url("../images/about.jpg") no-repeat;
    background-size: auto 100%;
}
.aboutMe p{
    color: #fff;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
    margin-bottom: 0.2rem;
}
.aboutMe .font-img{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner */
.bannerBox{
    background: #3a445c url("../images/banner-back.jpg") no-repeat;
    height:9rem;
    background-size: auto 100%;

}
.bannerBox .swiper-slide img{
    width: 100%;
    height:250px;
}
.bannerBox .swiper-slide p{
    line-height: 0.25rem;
    height: 2rem;
    overflow: hidden;
}
.bannerBox .banner-font h1{
    margin: 0;
    font-size:16px;
    padding-top: 0.1rem;
    padding-bottom: 0;
    text-align: center;
}
.banner-but{
    width: 70%;
    text-align: center;
    border: 1px solid #0092cc;
    color: #0092cc;
    border-radius:0.32rem;
    line-height: 0.32rem;
    margin: 0.2rem auto 0;
}
.banner-font{
    padding: 5px 0.3rem;
    height: 3.3rem;
    color: #09122b;
}

/* 必要布局样式css */
.marketing {
    height: 930px;
    overflow: hidden;
}

.marketing-title {
    text-align: center;
    font-size: 32px;
    color: #FFF;
    padding-top: 91px;
    margin-bottom: 15px;
}

.marketing-text {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #888888;
}

.click_a {
    width: 94px;
    height: 42px;
    margin: 0 auto;
    padding-top: 65px;
}

.hover_L {
    float: left;
}

.click_a a {
    display: block;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.hover_R {
    float: right;
}

.click_a img {
    display: block;
    float: left;
}

.click_a a:hover img {
    margin-top: -42px;
}

.mark-main {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 750px;
}

.click_con {
    width: 100%;
    padding-top: 90px;
    overflow: hidden;
    margin-left: -133px;
}

.system_list {
    width: 360px;
    height: 650px;
    position: relative;
    background: #FaFafa;
    margin: 0 5px;
    float: left;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

.system_list_tit {
    padding: 34px 30px;
    /*border-bottom: 1px solid #ededed;*/
}

.system_list_tit span {
    display: block;
    overflow: hidden;
}

.system_list_tit span em {
    display: block;
    width: 4px;
    height: 20px;
    background: #ff9900;
    float: left;
    margin-right: 10px;
}

.system_list_tit span strong {
    display: block;
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

.system_list_tit p {
    display: block;
    font-size: 12px;
    color: #999;
    padding-top: 12px;
}

.system_list_con {
    padding: 47px 28px 0px 28px;
}

.mark-main-list {
    overflow: hidden;
    margin-bottom: 30px;
}

.mark-main-list span {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.mark-main-list p {
    display: block;
    overflow: hidden;
    padding: 4px 0;
}

.mark-main-list span img {
    width: 100%;
}

.mark-main-list p em {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-style: normal;
}

.mark-main-list p strong {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #888;
}

.layer-mask {
    width: 100%;
    height: 650px;
    opacity: 0.3;
    transition: all 1s;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.click_con .new_cur .layer-mask {
    opacity: 0;
}

.click_con .new_cur {
    z-index: 10;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

/* ---------------- */
[data-x].active{
    /*outline: 10px solid red;*/
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.bannerIcon{ animation:bounce 1s; }
.bannerIcon2{ animation:bounce 1.5s; }
.bannerIcon3{ animation:bounce 2s; }
.bannerIcon4{ animation:bounce 2.5s; }
.serverImg{
    transform: rotateY(0deg);
    transition: all 0.20s ease-in-out 0s;
}
.serverImg:hover{
    transform: rotate(-5deg);
    transition: all 0.30s ease-in-out 0s;
}
.lastImg li:hover{ animation:bounce 1s; }

.display-none{ display: none; }
.bannerBox2{display: none;}





/*------------------- 最后一次修改 ----------------------*/

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 10%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    position: relative;
    padding: 0;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 0 30px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 30px;
    box-shadow: rgba(0,0,0,.2) 0 0 30px
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 50px;
    margin-top: -25px;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer
}

.swiper-button-prev {
    background-image: url("../images/banner-next1.png") !important;
    background-size: 27px 29px!important;
    right: 10px;
    left: auto
}
.swiper-button-next{
    background-image: url("../images/banner-next2.png") !important;
    background-size: 27px 29px!important;
    right: 10px;
    left: auto
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin: 0 5px;
    cursor: pointer
}

.swiper-slide:hover {
    -webkit-box-shadow: rgba(35,65,138,.6) 0 0 50px;
    -moz-box-shadow: rgba(35,65,138,.6) 0 0 50px;
    box-shadow: rgba(35,65,138,.6) 0 0 50px;
}

.banner-box {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden
}

.swiper-container {
    width: 100%;
    margin: 12px 0
}

.swiper-slide {
    background: #fff;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: scale(.8);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transform: scale(.7);
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 30px
}

.swiper-slide-active,.swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.swiper-slide img {
    width: 100%;
    display: block
}

.swiper-pagination {
    position: relative;
    margin-bottom: 30px
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255,255,255,.8)!important;
}

@media screen and (max-width: 668px) {
    .swiper-pagination {
        position:relative;
        margin-bottom: 20px
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: rgba(0,0,0,.8)
    }
}

.banner-arrow div:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

.swiper-button-prev {
    background: url("../images/banner-next1.png");;
    left: 10px
}

.swiper-button-next {
    background: url("../images/banner-next2.png");
}

.banner-top {
    padding-top: 3.730928444707274%
}

.banner-title {
    padding: 5px 0
}

.banner-title h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 45px;
    font-family: microsoft yahei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu;
    font-weight: 400;
    color: #444;
    padding-bottom: 14px
}

.banner-text {
    text-align: center
}

.banner-text p {
    font: 15px/1.5 'Helvetica Neue','Helvetica','STHeitiSC-Light',"Hiragino Sans GB",Arial,"Microsoft YaHei","å¾®è½¯é›…é»‘","STHeiti","WenQuanYi Micro Hei",'PingFang SC',SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: #444
}

.banner-top-one {
    padding-top: 3.311649911295092%
}

.banner-button {
    width: 100%;
    vertical-align: middle;
    text-align: center
}

.banner-button a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: auto;
    line-height: 100%;
    padding: 15px 32px;
    position: relative
}

.banner-button-btn {
    color: #fff;
    font-weight: 400;
    margin: 0;
    line-height: 1.8em;
    font-size: 16px;
    font-family: helvetica neue,helvetica,stheitisc-light,hiragino sans gb,Arial,microsoft yahei,微软雅黑,stheiti,wenquanyi micro hei,pingfang sc,SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #69ca72!important;
    border-radius: 100px
}

.banner-button-btn {
    background: #cedad0;
    display: inline-block;
    -webkit-transition: border-color .4s,color .4s;
    -moz-transition: border-color .4s,color .4s;
    transition: border-color .4s,color .4s;
    border: 0;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale
}

.banner-button-btn,.banner-button-btn::before {
    -webkit-transition-timing-function: cubic-bezier(.2,1,.3,1);
    -moz-transition-timing-function: cubic-bezier(.2,1,.3,1);
    transition-timing-function: cubic-bezier(.2,1,.3,1)
}

.banner-button-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #1a7c29;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(.7,1,1);
    -moz-transform: scale3d(.7,1,1);
    -ms-transform: scale3d(.7,1,1);
    -o-transform: scale3d(.7,1,1);
    transform: scale3d(.7,1,1);
    -webkit-transition: -webkit-transform .4s,opacity .4s;
    -moz-transition: -moz-transform .4s,opacity .4s;
    transition: transform .4s,opacity .4s;
    -webkit-transition-timing-function: cubic-bezier(.2,1,.3,1);
    -moz-transition-timing-function: cubic-bezier(.2,1,.3,1);
    transition-timing-function: cubic-bezier(.2,1,.3,1)
}

.banner-button-btn:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

/*-----------------------------------------*/
@media screen and (max-width: 768px){
    .banner .font p{
        line-height: 26px;
    }
    .banner-box{ height: 12rem;}
    .bannerBox .swiper-slide p{line-height: 0.4rem;}
    .banner-font{height: 4rem;}
    .banner-but{ line-height: 0.5rem;}
    .bannerBox .banner-font h1{ margin-bottom: 0.2rem;}
    .swiper-button-next, .swiper-button-prev{top: 25% !important;}
    .content{ width: 90%;margin: 0 5%;}
    .banner{ height: 12.5rem; }
    .banner .font-img{ width: 80%; margin: 1rem 10% 0; flex-wrap: wrap;margin-top: 1rem;}
    .banner .font-img img{ width: 130px;}
    .banner .font-img img:nth-child(1),.banner .font-img img:nth-child(2){margin-bottom: 1rem;}
    .technology{padding-right: 0;height: 11.6rem;}
    .technology-box{ padding-left: 0; flex-wrap: wrap;}
    .technology-font li{line-height: 26px;}
    .technology-box h1{ display: none;}
    .technology-box img{width: 100%; margin-top: 1rem;}
    .technology-font{ width: 90%; margin:0 5%;}
    .technology-box>div{margin-left: 0.5rem !important;}
    .serverBox .bottom{ width: 100%; position: absolute; top: 140px; text-align: center; margin-left: 0; left: 0}
/*    .serverBox .bottom img{
        margin-right: 0!important;
        width: 90%;
    }*/
    .aboutMe{ height:100%; padding-bottom: 1rem;}
    .aboutMe .font-img{flex-wrap: wrap;}
    .aboutMe .font-img img{width: 2rem}
    .aboutMe .font-img li:nth-child(1),.aboutMe .font-img li:nth-child(2),.aboutMe .font-img li:nth-child(3){ margin-bottom: 0.5rem; }
}



/*  */

































