
/*---------------------------------*/
.banner{
    width:100%;
    height: 8.55rem;
    background: url("../images/banner.jpg") no-repeat;
}
.banner .font{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
.banner .font h1{
    font-size: 0.6rem;
    font-weight: normal;
}
.banner .font p{
    font-size: 0.14rem;
    margin-top: 0.2rem;
}
.banner .font-img{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes bounce{
    30%{
        transform:translateY(50px)
    }
}
/*---------------------------------*/
.technology{
    color: #fff;
    height: 8.6rem;
    background: url("../images/jszc.jpg") no-repeat;
    padding-right: 1rem;
}
.technology-box h1{
    font-weight: normal;
}
.technology-font{
    color: #fff;
    width: 70%;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.technology-font li{
    list-style:decimal !important;
}
.technology-box{
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*------------------------------*/
.server{
    width: 100%;
    height: 9rem;
    background: url("../images/server.jpg") no-repeat;
    background-size: auto 100%;
    position: relative;
}
.serverBox{
    overflow: hidden;
    margin: 0 auto;
}
.serverBox .bottom{
    position: absolute;
    bottom: 0;
    left:50%;
    text-align: center;
    width: 1100px;
    margin-left:-550px;
}
.serverBox .bottom img{
    width: 46%;
    margin-right:4%;
    margin-top: 0.4rem;
}
.serverBox .bottom img:nth-child(2n){
    margin-right:0;
}
/*-----------------------------------*/
.aboutMe{
    width: 100%;
    height: 8.6rem;
    background: url("../images/about.jpg") no-repeat;
    background-size: auto 100%;
}
.aboutMe p{
    color: #fff;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
    margin-bottom: 0.2rem;
}
.aboutMe .font-img{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner */
.bannerBox{
    background: #424659;
}
.bannerBox .system_list img{
    width: 100%;
    height:250px;
}
.bannerBox .system_list p{
    line-height: 0.25rem;
    height: 1.5rem;
}
.bannerBox h1{
    margin: 0;
    font-size:16px;
    padding-top: 0.1rem;
    padding-bottom: 0;
    text-align: center;
}
.banner-but{
    width: 70%;
    text-align: center;
    border: 1px solid #0092cc;
    color: #0092cc;
    border-radius:0.32rem;
    line-height: 0.32rem;
    margin: 0.2rem auto 0;
}
/* 必要布局样式css */
.marketing {
    height: 930px;
    overflow: hidden;
}

.marketing-title {
    text-align: center;
    font-size: 32px;
    color: #FFF;
    padding-top: 91px;
    margin-bottom: 15px;
}

.marketing-text {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #888888;
}

.click_a {
    width: 94px;
    height: 42px;
    margin: 0 auto;
    padding-top: 65px;
}

.hover_L {
    float: left;
}

.click_a a {
    display: block;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.hover_R {
    float: right;
}

.click_a img {
    display: block;
    float: left;
}

.click_a a:hover img {
    margin-top: -42px;
}

.mark-main {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 750px;
}

.click_con {
    width: 100%;
    padding-top: 90px;
    overflow: hidden;
    margin-left: -133px;
}

.system_list {
    width: 360px;
    height: 650px;
    position: relative;
    background: #FaFafa;
    margin: 0 5px;
    float: left;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

.system_list_tit {
    padding: 34px 30px;
    /*border-bottom: 1px solid #ededed;*/
}

.system_list_tit span {
    display: block;
    overflow: hidden;
}

.system_list_tit span em {
    display: block;
    width: 4px;
    height: 20px;
    background: #ff9900;
    float: left;
    margin-right: 10px;
}

.system_list_tit span strong {
    display: block;
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

.system_list_tit p {
    display: block;
    font-size: 12px;
    color: #999;
    padding-top: 12px;
}

.system_list_con {
    padding: 47px 28px 0px 28px;
}

.mark-main-list {
    overflow: hidden;
    margin-bottom: 30px;
}

.mark-main-list span {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.mark-main-list p {
    display: block;
    overflow: hidden;
    padding: 4px 0;
}

.mark-main-list span img {
    width: 100%;
}

.mark-main-list p em {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-style: normal;
}

.mark-main-list p strong {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #888;
}

.layer-mask {
    width: 100%;
    height: 650px;
    opacity: 0.3;
    transition: all 1s;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.click_con .new_cur .layer-mask {
    opacity: 0;
}

.click_con .new_cur {
    z-index: 10;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

/* ---------------- */
[data-x].active{
    /*outline: 10px solid red;*/
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.bannerIcon{ animation:bounce 1s; }
.bannerIcon2{ animation:bounce 1.5s; }
.bannerIcon3{ animation:bounce 2s; }
.bannerIcon4{ animation:bounce 2.5s; }
.serverImg{
    transform: rotateY(0deg);
    transition: all 0.20s ease-in-out 0s;
}
.serverImg:hover{
    transform: rotate(-5deg);
    transition: all 0.30s ease-in-out 0s;
}
.lastImg li:hover{ animation:bounce 1s; }

.display-none{ display: none; }
@media screen and (max-width: 768px){
    /*.bannerBox{ display: none;}*/
    .content{ width: 90%;margin: 0 5%;}
    .banner{ height: 12.5rem; }
    .banner .font-img{flex-wrap: wrap;margin-top: 1rem;}
    .banner .font-img img{ width: 130px;}
    .banner .font-img img:nth-child(1),.banner .font-img img:nth-child(2){margin-bottom: 1rem;}
    .technology{padding-right: 0;height: 12.6rem;}
    .technology-box{ padding-left: 0; flex-wrap: wrap;}
    .technology-box h1{ display: none;}
    .technology-box img{width: 100%; margin-top: 1rem;}
    .technology-font{ width: 90%; margin:0 5%;}
    .technology-box>div{margin-left: 0.5rem !important;}
    .serverBox .bottom{ width: 100%; position: absolute; top: 140px; text-align: center; margin-left: 0; left: 0}
    .aboutMe{ height:100%; padding-bottom: 1rem;}
    .aboutMe .font-img{flex-wrap: wrap;}
    .aboutMe .font-img img{width: 2rem}
    .aboutMe .font-img li:nth-child(1),.aboutMe .font-img li:nth-child(2),.aboutMe .font-img li:nth-child(3){ margin-bottom: 0.5rem; }
}
