.banner {
	width: 100%;
	height: 4.03rem;
	background: url(../images/fang_img/mobile_banner.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.pageMain {
	height: 5.4rem;
	width: 12rem;
	margin: 0px auto;

}

.pageMainTitle {
	width: 100%;
	font-size: 0.3rem;
	color: #09122b;
	text-align: center;
	margin-top: 0.65rem;
}

.pageMainTitle>:first-child {
	width: 100%;
	text-align: center;
	letter-spacing: 0.05rem;
}

.pageMainTitle>:last-child {
	width: 0.34rem;
	height: 0.03rem;
	background: #00f8ff;
	letter-spacing: 0.05rem;
	margin: 0px auto;
	margin-top: 0.2rem;
}

.pageMainText {
	width: 1.62rem;
	height: 2.5rem;
	margin-top: 1rem;
}

.pageMainText>p {
	width: 100%;
	text-align: center;
	margin-top: 0.18rem;
}

.pageMainText>:first-child>img {
	transform: scale(1.2);
}

.pageMainText>:first-child+p {
	font-size: 0.2rem;
}

.pageMainText>:last-child {
	color: #666666;
}

.allText {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.ZzZy {
	width: 100%;
	height: 8.55rem;
	background: url(../images/fang_img/ZzZy.jpg) no-repeat;
	background-position: center;

}

.ZzZyBox {
	width: 1200px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 0.45rem;
}

.ZzZyBox>div>p {
	padding-bottom: 0.3rem;
}

.ZzZy>.pageMainTitle {
	padding-top: 0.65rem;
}

.ZzZy>.pageMainTitle>p {
	color: white
}

/* --------------------------------------------------- */
.ZzZyBox>.left>:first-child {
	animation: turn 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn {
	0% {
		margin-left: -80%;
	}

	25% {
		margin-left: -60%;
	}

	50% {
		margin-left: -40%;
	}

	75% {
		margin-left: -20%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.left>:first-child+p {
	animation: turn1 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn1 {
	0% {
		margin-left: -72%;
	}

	25% {
		margin-left: -54%;
	}

	50% {
		margin-left: -36%;
	}

	75% {
		margin-left: -18%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.left>:first-child+p+p {
	animation: turn2 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn2 {
	0% {
		margin-left: -64%;
	}

	25% {
		margin-left: -48%;
	}

	50% {
		margin-left: -32%;
	}

	75% {
		margin-left: -16%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.left>:first-child+p+p+p {
	animation: turn3 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn3 {
	0% {
		margin-left: -56%;
	}

	25% {
		margin-left: -42%;
	}

	50% {
		margin-left: -28%;
	}

	75% {
		margin-left: -14%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.left>:first-child+p+p+p+p {
	animation: turn4 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn4 {
	0% {
		margin-left: -48%;
	}

	25% {
		margin-left: -36%;
	}

	50% {
		margin-left: -24%;
	}

	75% {
		margin-left: -12%;
	}

	100% {
		margin-left: 0%;
	}
}

/* 动画------------------------------------------------ 右边 */
.ZzZyBox>.right>:first-child {
	animation: turn0 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn0 {
	0% {
		margin-left: 80%;
	}

	25% {
		margin-left: 60%;
	}

	50% {
		margin-left: 40%;
	}

	75% {
		margin-left: 20%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.right>:first-child+p {
	animation: turn10 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn10 {
	0% {
		margin-left: 72%;
	}

	25% {
		margin-left: 54%;
	}

	50% {
		margin-left: 36%;
	}

	75% {
		margin-left: 18%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.right>:first-child+p+p {
	animation: turn20 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn20 {
	0% {
		margin-left: 64%;
	}

	25% {
		margin-left: 48%;
	}

	50% {
		margin-left: 32%;
	}

	75% {
		margin-left: 16%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.right>:first-child+p+p+p {
	animation: turn30 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn30 {
	0% {
		margin-left: 56%;
	}

	25% {
		margin-left: 42%;
	}

	50% {
		margin-left: 28%;
	}

	75% {
		margin-left: 14%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.right>:first-child+p+p+p+p {
	animation: turn40 0.3s linear;
	animation-play-state: paused;
}

@keyframes turn40 {
	0% {
		margin-left: 48%;
	}

	25% {
		margin-left: 36%;
	}

	50% {
		margin-left: 24%;
	}

	75% {
		margin-left: 12%;
	}

	100% {
		margin-left: 0%;
	}
}

.ZzZyBox>.left>.move {
	animation-play-state: running !important;
}

.ZzZyBox>.right>.move {
	animation-play-state: running !important;
}

/* ----------------------------------------------------------- */
.advantage {
	width: 100%;
	height: 8.57rem;
	background: url(../images/fang_img/wmdYs.jpg) no-repeat;
	background-position: center;
}

.advantageText {
	width: 40%;
	height: 7rem;
	margin-left: 58%;
	padding-top: 0.6rem;
}

.advantageText>p {
	color: white;
}

.advantageText>:first-child {
	font-size: 0.30rem;
}

.allList {
	margin-top: 0.7rem;
}

.allList>P {
	color: white;
}

.allList>:first-child {
	margin-left: -5%;
	margin-bottom: 0.3rem;
	font-size: 0.19rem;
}

.allList>:last-child {
	font-size: 0.16rem;
}

.kflcApp {
	width: 1200px;
	margin: 0px auto;
	/* background: url(../images/fang_img/endPage.jpg) no-repeat; */
	background-position: center;
	margin-bottom: 1.3rem;
}

.kflc_main {
	width: 20%;
	height: 2.2rem;
	position: relative;
	padding: 0.1rem;
	box-sizing: border-box;
}

.kflc_main:hover {
	transform: scale(1.1);
	box-shadow: #000000 0 0 5px;
	z-index: 99;
}

.kflc_top {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.7rem;
}

.kflc_main>p>img {
	height: 0.55rem;
}

.kflc_main>:first-child {
	margin-bottom: 0.25rem;
	margin-top: 0.38rem;
}

.kflc_main>:first-child+p {
	margin-bottom: 0.15rem;
	font-weight: 700;
}

.kflc_main {
	background-color: #f9f9f9;
}

.kflc_main:nth-of-type(odd) {
	background-color: #fdfdfd;
}

.kflc_main>p {
	text-align: center;
	color: #545454;
}

@media screen and (max-width: 768px) {
	.pageMain {
		width: 100%;
	}

	.pageMainText>:last-child {
		display: none;
	}

	.ZzZyBox {
		width: 100%;
	}

	.advantageText {
		width: 100%;
		display: block;
		margin-left: 0;
	}

	.allList>:first-child {
		font-size: 0.28rem;
		padding-bottom: 0.2rem;
	}

	.advantageText>.allList {
		width: 85%;
		margin: 0px auto;
		padding-bottom: 0.5rem;
	}

	.allList>:last-child {
		font-size: 0.25rem;
	}

	.advantageText>:first-child {
		text-align: center;
	}

	.pageMain {
		height: 3.4rem;
	}

	.ZzZyBox {
		display: block;
		text-align: center;
	}

	.middle img {
		width: 100%;
	}
	
	.ZzZy {
		height: auto;
		background-size: cover;
	}

	.kflcApp {
		background-size: cover;
		width: 100%;
	}

	.kflc_main {
		width: 50%;
		height: 2.6rem;
		padding: 0.1rem;
		box-sizing: border-box;
	}
}
