.about-tit{
	font-size: 0.32rem;
	text-align: center;
	padding: 1rem 0;
	position: relative;
}
.about-tit:after{
	content: '';
	display: block;
	width: 0.34rem;
	height: 0.03rem;
	background: #00f8ff;
	letter-spacing: 0.05rem;
	margin: 0px auto;
	margin-top: 0.2rem;
}
.pc-width{
	width: 1200px;
	margin: 0 auto;
}
.type-list{
	width: 2.4rem;
	height: 4rem;
	text-align: center;
	margin: 0 0.3rem;
	float: left;
}
.list2{
	display: none;
}
.type-img{
	width: 0.98rem;
	height: 0.98rem;
	border-radius: 50%;
	background: #efefef;
	line-height: 0.98rem;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.type-img img{
	max-width: 60%;
	vertical-align: middle;
}
.type-list h1{
	font-size: 0.3rem;
	font-weight: 500;
	margin: 0.4rem 0 0.05rem;
}
.type-list p{
	font-size: 0.14rem;
	line-height: 0.28rem;
}
.type-list:hover .list1{
	display: none;
}
.type-list:hover .list2{
	display: inline-block;
}
.type-list:hover .type-img{
	background: #0092cc;
}
.about-mid{
	height: 3rem;
	background-image: url(../images/about-mid.png);
	background-position: center;
	background-repeat: no-repeat;
}
.about-mid .pc-width{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #FFFFFF;
	text-align: center;
}
.about-mid p{
	font-size: 0.22rem;
}
.about-mid i{
	font-size: 0.8rem;
}
.about-us{
	margin-top: 1.4rem;
	background-image: url(../images/about-bg.png);
	background-size: cover;
	padding-bottom: 1rem;
}
.us-tit{
	font-size: 0.32rem;
	text-align: center;
}
.us-tit:after{
	content: '';
	display: block;
	width: 0.34rem;
	height: 0.03rem;
	background: #00f8ff;
	letter-spacing: 0.05rem;
	margin: 0px auto;
	margin-top: 0.2rem;
}
.us-txt{
	text-align: center;
	margin: 0.6rem auto;
	width: 1000px;
	font-size: 0.18rem;
	text-indent: 0.36rem;
}
.us-down{
	width: 0.24rem;
	display: block;
	margin: 0 auto 0.55rem;
}
.usList{
	width: 4rem;
}
.us-list2{
	color: #FFFFFF;
	margin-top: 1rem;
}
.us-list img{
	width: 6rem;
	float: left;
	margin: 0 0.5rem;
}
.usList h3{
	font-size: 0.28rem;
	font-weight: 500;
	margin-top: 0.36rem;
}
.usList p{
	font-size: 0.18rem;
	margin-top: 0.25rem;
}
.usList a{
	margin-top: 0.5rem;
}
.relation{
	margin-bottom: 0.7rem;
}
.relation-l{
	width: 40%;
	margin-bottom: 0.7rem;
}
.relation-l h1{
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
}
.relation-l p{
	color: #666666;
	margin-bottom: 0.16rem;
	font-size: 0.2rem;
}
.relation-l .relation-txt{
	font-size: 0.16rem;
	margin-bottom: 0.5rem;
}
.relation-l p span{
	color: #000000;
	font-weight: bold;
}
.relation-r{
	width: 55%;
	margin-bottom: 0.7rem;
}
/* 行业方案 */
.industry-nav{
	height: 1rem;
	position: relative;
	top: -0.5rem;
	box-shadow: 0 0 5px #DDDDDD;
	border-radius: 5px;
	background: #FFFFFF;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
}
.industry-list{
	width: 1.3rem;
	height: 0.4rem;
	line-height: 0.4rem;
	box-shadow: 0 0 8px #b3b2b2;
	color: #666666;
	font-size: 0.18rem;
	text-align: center;
	border-radius: 1px;
}
.industry-nav a:hover{
	background: #0092cc;
	color: #FFFFFF;
}
.industry-nav .active{
	background: #0092cc;
	color: #FFFFFF;
}
.industry-w{
	width: 100%;
	background: #0a112b;
	color: #FFFFFF;
}
.industry-box{
	padding: 0.8rem 0 0.6rem 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.industry-txt{
	width: 4.55rem;
	font-size: 0.18rem;
}
.industry-txt p{
	padding: 0.1rem 0;
}
.industry-tit{
	font-size: 0.36rem;
	margin-bottom: 0.2rem;
	padding: 0;
}
.industry-scheme{
	display: inline-block;
	font-size: 0.36rem;
	margin-top: 0.8rem;
	position: relative;
}
.industry-scheme:after{
	content: '';
	width: 50%;
	height: 3px;
	background: #00f8ff;
	position: absolute;
	right: 0;
	bottom: -5px;
}
.ins-box{
	margin-left: -0.22rem;
}
.ins-list{
	float: left;
	width: 25%;
	text-align: center;
	color: #666666;
	font-size: 0.18rem;
	margin: 0.4rem  0;
	cursor: pointer;
}
.industry-w .ins-list{
	color: #FFFFFF;
}
.ins-list:nth-child(4n){
	margin-right: 0;
}
.ins-list:hover{
	transform: scale(1.1);
}
.ins-list img{
	height: 0.4rem;
}
.industry-fw{
	font-size: 0.36rem;
	color: #000000;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 0.7rem;
}
.industry-fwM{
	font-size: 0.36rem;
	color: #c3c7d1;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 0.1rem;
}
.industry-img{
	height: 450px;
	margin-top: 50px;
}
.industry-btm{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	margin-top: 0.7rem;
}
.insBtm-list{
	text-align: center;
	font-size: 0.18rem;
	font-weight: 600;
	color: #09122b;
	height: auto;
}
.industry-btm img{
	height: 0.8rem;
}
.insBtm-list p{
	margin-top: 0.18rem;
}
.goTop{
	position: fixed;
	right: 30px;
	bottom: 100px;
	z-index: 99;
	width: 50px;
	cursor: pointer;
}

/* banner */
.industry-banner{
	background-image: url(../images/industry-banner.png);
}
.about-banner{
	height: 6rem;
	width: 100%;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/about-banner.jpg);
}
.qBanner{
	height: 4rem;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.button{
	font:0.18rem Calibri, Arial, sans-serif;
	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;
	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:0.1rem 0.3rem;
	box-sizing: border-box;
	text-align: center;
	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-image:url('../images/button_bg.png');
	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 8px */
	
	border-radius:4em;
	
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.button:hover{
	
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
	
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

.button:active{
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}

/* A more rounded button */

.button.rounded{
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
}


/* Defining four button colors */


/* BlueButton */

.blue.button{
	color:#FFFFFF !important;
	
	border:1px solid #84acc3 !important;
	
	/* A fallback background color */
	background-color: #48b5f2;
	box-shadow: 0 0 5px #5989f4;
	/* Specifying a version with gradients according to */
	
	background-image:	url('../images/button_bg.png'), url('../images/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89, 137, 244,1) 0,rgba(89,208,244,0) 100px),
						-moz-linear-gradient(#5989f4, #3faeeb);

	background-image:	url('../images/button_bg.png'), url('../images/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89, 137, 244,1)), to(rgba(89,208,244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5989f4), to(#3faeeb));
}

.blue.button:hover{
	background-color:#63c7fe;
	
	background-image:	url('../images/button_bg.png'), url('../images/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89, 137, 244,1) 0,rgba(89, 137, 244,0) 100px),
						-moz-linear-gradient(#5989f4, #58bef7);
						
	background-image:	url('../images/button_bg.png'), url('../images/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89, 137, 244,1)), to(rgba(89, 137, 244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5989f4), to(#58bef7));
}





@media screen and (max-width: 768px){
	.pc-width{
		width: 100%;
	}
	.type-list{
		width: 3.15rem;
	}
	.content{
		display: none;
	}
	.us-txt{
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		color: #9e9a9a;
	}
	.usList{
		width: 90%;
		margin-left: 5%;
		color: #FFFFFF;
	}
	.us-list2 img{
		margin-top: 0.36rem;
	}
	.relation-l,.relation-r{
		width: 90%;
		margin-left: 5%;
	}
	.industry-nav{
		height: 2rem;
		flex-wrap:wrap;
	}
	.industry-list{
		width: 1.9rem;
	}
	.industry-txt{
		width: 100%;
		padding: 0 5%;
		box-sizing: border-box;
	}
	.industry-img{
		display: none;
	}
	.industry-btm{
		width: 90%;
		flex-wrap: wrap;
		margin-bottom: 0.4rem;
	}
	.insBtm-img:nth-child(6){
		display: none;
	}
	.insBtm-list{
		width: 18%;
		margin-bottom: 0.4rem;
	}
	.goTop{
		display: none !important;
	}
	.about-banner{
		height: 4rem;
	}
}